body{
  overflow: hidden;
  background-color: #a7bcff;
}

.formContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper{
      background-color: white;
      padding: 10px 60px;
      border-radius: 10px;
      flex-direction: column;
      display: flex;
      gap: 5px;
      align-items: center;

      .logo{
        color: #5d5b8d;
        font-weight: bold;
        font-size: 24px;
      }

      .title{
        color: #5d5b8d;
      }

      .formList { 
          flex-direction: column;
          display: flex;
          gap: 15px;

          input{
            padding: 15px;
            border: none;
            border-bottom: 1px solid #bfcdff;
            &::placeholder{
                color: rgb(175, 175, 175)
            }
          }
          #file{
            border-bottom: white;
            display: none;
          }

          button{
            background-color: #7d9afa;
            padding: 10px;
            border: none;
            color: white;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
          }

          label{
           display: flex;
           align-items: center;
           gap: 10px;
           color: #8da4f1;
           font-size: 12px;
           cursor: pointer;

            .add{
            height: 40px;
            width: 40px;
            }
          }

          
        }
        p{
            color:#5d5b8d;
            font-size: 13px;
            margin-top: 10px;
        }
    }
}

.home{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sidebar {
    background-color: #5d5b8d;
    height: 70%;
    width: 25%;

    .navbar{
      background-color: #3e3c61;
      height: 15%;
      align-items: center;
      display: flex;

      .logoHome{
        color: #f3f2ff;
        font-weight: bold;
        font-size: 24px;
      }

      .avatar{
        height: 40px;
        width: 40px;
        padding-left: 50px;
      }

      .logOut{
        background-color: #7d9afa;
        padding: 10px;
        border: none;
        color: white;
        border-radius: 4px;
        font-size: 15px;
        cursor: pointer;
        margin:auto;
      }
    }
   
  }

  .chatPanel{
    background-color: #ddddf7;
    height: 80%;
    width: 65%;

    .chatBar{
      background-color: #5d5b8d;
      height: 15%;
      align-items: center;
      display: flex;

      img{
        padding-right: 5px;
      }
    }

  }

}